{{ partial "header.html" . }}

<div class="container content">
	<div class="row">
		<div class="col-xs-3">
		</div>
		<div class="col-xs-8">
			{{ range where .Site.Pages "Type" "index" }}
				{{ .Content }}
			{{ end }}
		</div>
	</div>
</div>

{{ partial "footer.html" . }}
